body{
    background-color: #fffbf7;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
  }

  h1, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #025157;
  }


.main > .signUpform{
    margin:auto;
    width:16%;
    display:flex;
}

button,input{
    padding:6px 20px;
    border-width: 1px;
    border-radius: 8px;
}


button{
    background-color:#025157;
    color:#fff;
    margin-left:-10px;
    border-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 7px 20px;
    cursor: pointer;
}

input{
    border-style: solid;
}

  .generalParagraph{
      color:#46484c;
      text-align: center;
  }

  .promotionalText{
     text-align: center;
      color:#8b8b8bcc;
  }

  img{
    width:150px;
    margin: auto;
    display: block;
  }

.imgOverview{
    width: 70%;
    margin: auto;
    display: block;
}

/*Styles added during session 2*/

.header{
    margin: 40px 20px 0;
    font-size: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navBar {
    width:60%;
    text-align: center;
    color:#025157;
    font-weight: 500;
    height: 45px;
    
}

.navBar li{
    margin: 0 25px;
    text-decoration: none;
    color:#025157;
    
}

li {
    display: inline;
  }

.actions {
    width:15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > a {
    color:#67b54b;
    font-size: 14px;
    margin: 0 10px;
    text-decoration: none;
}  

.actions > a:hover {
    color:#212529;   
} 

#greenButton {
    background-color: #67b54b;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    padding: 12px 14px;
    margin-left: 2px;

}

.main {
    margin-top: 285px;
    text-align: center;
}

/*Session 3 : Challenge 04*/
.promo {
    display: flex;
    width:70%;
    margin:100px auto;
    align-items: center;
}

.publish{
    margin-left: 40px;
}

.infoVideo{
    display:flex;
    flex-direction: column;
}

.infoVideo img{
width: 50px;
}

.fixedHeader {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}